.thumbnail img
{
    width: 100%;
}

.thumbnail
{
    padding: 3px;
}

.delete-form
{
    display: inline;
}

.comments_hr 
{
    width: 100%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 10px auto;
}

